body{
    display: flex;
    justify-content: space-around;
    margin: 0;
    color: #383838;
}

#main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    width: 80%;
}

.cardCss{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    width: 100%;
    border-radius: 20px;
    padding: 15px;
}

#userForm,
#displaySection{
    text-align: center;
}

#userForm input{
    height: 35px;
    width: 300px;
    text-align: center;
    border: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 8px;
    margin: 0px 10px 20px 10px;
}

button{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border: none;
    background: none;
    height: 30px;
    border-radius: 5px;
}

h3{
    margin-top: 0;
}

table {
    border: 3px solid #646464;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #646464;
    padding: 8px;
    text-align: left;
}

th:first-child, td:first-child {
    padding-right: 20px;
}

th:last-child, td:last-child {
    padding-left: 20px;
}